<div class="edit">
  <div class="container" fxLayout="column" fxLayoutAlign="space-around center">
    <div flex-gt-lg="15">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title> <h3>Add / Update</h3> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="editForm">
            <mat-form-field>
              <mat-select
                placeholder="Type"
                [(ngModel)]="selectedType"
                name="type"
                formControlName="type"
              >
                <mat-option *ngFor="let type of types" [value]="type.value">
                  {{ type.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="selectedType == 'fleet'">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Name"
                  formControlName="fleet_name"
                />
              </mat-form-field>
              <h4>IP Addresses</h4>
              <mat-form-field>
                <input matInput placeholder="xIM" formControlName="fleet_xim" />
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  placeholder="Screen"
                  formControlName="fleet_screen"
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  placeholder="MS352 or Other"
                  formControlName="fleet_other"
                />
                <mat-hint>Not required.</mat-hint>
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  placeholder="TropOS 2.4ghz"
                  formControlName="fleet_2"
                />
              </mat-form-field>
            </div>
            <div *ngIf="selectedType == 'trailer'">
              <mat-form-field>
                <input matInput placeholder="CT0xx" formControlName="parent" />
              </mat-form-field>
              <h4>IP Addresses</h4>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Tristar"
                  formControlName="tristar"
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  placeholder="TropOS 2.4ghz"
                  formControlName="tropos2"
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  placeholder="TropOS 5ghz"
                  formControlName="tropos5"
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  placeholder="TropOS LAN"
                  formControlName="troposLAN"
                />
                <mat-hint>Required if a gateway.</mat-hint>
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  placeholder="Cisco 1572"
                  formControlName="cisco1572"
                />
                <mat-hint>Can't be monitored from VLAN 20</mat-hint>
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  placeholder="Ubiquiti"
                  formControlName="ubi"
                />
              </mat-form-field>
              <h4>Tetra</h4>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Tetra ISSI"
                  formControlName="issi"
                />
              </mat-form-field>
            </div>
            <div *ngIf="selectedType == 'corrections'">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Machine Name"
                  formControlName="parent"
                />
              </mat-form-field>
              <h4>IP Addresses</h4>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Correction Rx IP"
                  formControlName="correction_ip"
                />
              </mat-form-field>
            </div>
            <div *ngIf="selectedType == 'alert'">
              <mat-form-field>
                <mat-select
                  placeholder="Alert Type"
                  [(ngModel)]="alertType"
                  name="alerttype"
                  formControlName="alert_type"
                >
                  <mat-option
                    *ngFor="let alert of alertTypes"
                    [value]="alert.value"
                  >
                    {{ alert.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <div *ngIf="alertType == 'sign' || alertType == 'calert'">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Location"
                    formControlName="alert_location"
                  />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput placeholder="IP" formControlName="alert_ip" />
                </mat-form-field>
                <br />
              </div>
            </div>
            <br />
            <div *ngIf="alertType == 'trailer'">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Trailer Number"
                  formControlName="trailer_number"
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  placeholder="West - IP"
                  formControlName="west_ip"
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  placeholder="Central - IP"
                  formControlName="central_ip"
                />
              </mat-form-field>
              <br />
              <mat-form-field>
                <input
                  matInput
                  placeholder="East - IP"
                  formControlName="east_ip"
                />
              </mat-form-field>
              <br />
            </div>
            <button
              mat-raised-button
              type="submit"
              (click)="onSubmit('submit')"
              [disabled]="!editForm.valid"
            >
              Submit
            </button>
            &nbsp;&nbsp;
            <button
              mat-raised-button
              type="submit"
              (click)="onSubmit('delete')"
              [disabled]="!editForm.valid"
            >
              Delete
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
