<div class="trailers">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="center">
    <div flex-gt-lg="15" *ngFor="let trailer of trailer$">
      <mat-card
        class="trailer"
        [ngClass]="{
          'trailer-online': trailer.tropos2.online,
          'trailer-offline': !trailer.tropos2.online
        }"
      >
        <mat-card-header>
          <mat-card-title> {{ trailer.parent }} </mat-card-title>
          <mat-card-subtitle> {{ trailer.tropos_type }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="trailer.issi">
            ──────────────<br />
            <b>Tetra ISSI</b> <br />
            {{ trailer.issi }} <br />
          </div>
          <div *ngIf="trailer.tropos2">
            ──────────────<br />
            <b>TropOS 2.4Ghz:</b> <br />
            {{ trailer.tropos2.ip }} <br />
            {{ trailer.tropos2.latency }}ms<br />
          </div>
          <div *ngIf="trailer.tropos5">
            ──────────────<br />
            <b>TropOS 5Ghz:</b> <br />
            {{ trailer.tropos5.ip }} <br />
          </div>
          <div *ngIf="trailer.troposLAN && trailer.tropos_type == 'Gateway'">
            ──────────────<br />
            <b>TropOS LAN:</b> <br />
            {{ trailer.troposLAN.ip }} <br />
            {{ trailer.troposLAN.latency }}ms<br />
          </div>
          <div *ngIf="trailer.cisco1572.ip">
            ──────────────<br />
            <b>Cisco:</b> <br />
            {{ trailer.cisco1572.ip }} <br />
          </div>
          <div *ngIf="trailer.ubi.ip">
            ──────────────<br />
            <b>Ubi:</b> <br />
            {{ trailer.ubi.ip }} <br />
            {{ trailer.ubi.latency }}ms <br />
          </div>
          <div *ngIf="trailer.tristar">
            ──────────────<br />
            <b>Tristar:</b> <br />
            {{ trailer.tristar.ip }} <br />
            {{ trailer.tristar.latency }}ms <br />
          </div>
          <div *ngIf="trailer.tristar_live">
            Battery Volts: {{ trailer.tristar_live.batt_volts }} <br />
            Battery Current: {{ trailer.tristar_live.batt_current }} <br />
            Solar Volts: {{ trailer.tristar_live.solar_volts }} <br />
            Solar Current: {{ trailer.tristar_live.solar_current }} <br />
            Charge Mode: {{ trailer.tristar_live.charge_state }} <br />
            Output Power: {{ trailer.tristar_live.output_power }} <br />
            Heatsink Temp: {{ trailer.tristar_live.heatsink_temp }} <br />
          </div>
          ──────────────<br />
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
