<div class="services">
  <div style="float: left; min-width: 500px;">
    <div style="float: left;">
      <div class="container" fxLayout="row wrap" fxLayoutAlign="center">
        <div flex-gt-lg="15" *ngFor="let service of services">
          <div class="arcs">
            <div class="semi_arc e6">
              <div class="semi_arc_3 e5_1">
                <div class="semi_arc_3 e5_2">
                  <div class="semi_arc_3 e5_3">
                    <div class="semi_arc_3 e5_4"></div>
                  </div>
                </div>
              </div>
              <div
                class="core2"
                [ngClass]="{
                  'offline': !service.running,
                  'online': service.running
                }"
              >
                <div class="status">{{ service.status }}</div>
                <div class="service_name">{{ service.service }}</div>
                <div class="run_time">{{ service.run_time }}</div>
                <div class="pid">{{ service.pid }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
