<div class="trucks">
  <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutAlign.xs="space-around center">
    <div flex-gt-lg="15" *ngFor="let truck of trucks$">
      <mat-card class="truck" [ngClass]="{'truck-on': truck.allOnline, 'truck-off': truck.allOffline, 'truck-fail': truck.somethingOffline}">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>
            <h3>{{ truck.name }}</h3>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{ truck.twoLatency }}ms
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>