.trucks:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("../../assets/img/trucks.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.trucks {
    margin: 0;
    padding: 10px;
    min-height: calc(100vh-64px);
    box-sizing: border-box;
}
  
.container {
    margin: -6px;
 }

 .container > * {
   margin: 6px;
 }

 .truck {
    overflow-x: hidden;
    width: 130px;
    height: 130px;
    padding: 0px;
    border-radius: 25px;
    cursor: pointer;
 }

 .truck-on {
    background-color: rgb(150, 255, 150);
 }

 .truck-off {
    background-color: rgb(150, 150, 150);
 }

 .truck-fail {
    background-color: rgb(255, 150, 150);
 }

 mat-card-content {
     text-align: center;
 }

 mat-card-title {
     width: 100px;
     text-align: center;
 }

 .header-image {
  background-size: cover;
}
