<div class="row">
  <nb-card class="col-xxl-5">
    <nb-card-header>
      Alerts - Weather Zone
    </nb-card-header>
    <nb-card-body>
      <div *ngFor="let alert of alerts$">
        <ngx-status-card [title]="alert.zone" [type]="alert.status" [on]="alert.online" [icon]="alert.icon"
          [state]="alert.state">
        </ngx-status-card>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="col-xxl-7">
      <ngx-tetra-bar-chart [label_title]="'Load %'"></ngx-tetra-bar-chart>

      <ngx-tetra-radar-chart [label_title]="'Time Slots'"></ngx-tetra-radar-chart>
  </div>
</div>