<div class="row">
  <nb-card class="col-xxl-5">
    <nb-card-header>
      Alerts - Weather Zone
    </nb-card-header>
    <nb-card-body>
      <div *ngFor="let alert of alerts$">
        <ngx-status-card [title]="alert.zone" [type]="alert.status" [on]="alert.online" [icon]="alert.icon"
          [state]="alert.state">
        </ngx-status-card>
      </div>
    </nb-card-body>
  </nb-card>

  <div class="col-xxl-7">
    <nb-card>
      <nb-card-header>
        Tetra
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-xxl-4">
            <ngx-tetra-radio-count-card [title]="'Total Radios'" [type]="radios.status" [on]="radios.online"
              [count]="radios.count" [description]="'Online'">
            </ngx-tetra-radio-count-card>
          </div>
          <div class="col-xxl-4">
            <ngx-tetra-radio-count-card [title]="'Group Calls'" [type]="'success'" [on]="'true'"
              [count]="groupCalls.calls" [description]="'Last 10 Sec'">
            </ngx-tetra-radio-count-card>
          </div>
          <div class="col-xxl-4">
            <ngx-tetra-radio-count-card [title]="'Direct Calls'" [type]="'success'" [on]="'true'"
              [count]="individualCalls.calls" [description]="'Last 10 Sec'">
            </ngx-tetra-radio-count-card>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-6">
            <ngx-tetra-bar-chart [title]="'Tetra Node Load'"></ngx-tetra-bar-chart>
          </div>
          <div class="col-xxl-6">
            <ngx-tetra-radar-chart [label_title]="'Time Slots'"></ngx-tetra-radar-chart>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>