<div class="row" *ngIf="dataLoaded">
  <ac-map>
    <map-options></map-options>
    <map-sds></map-sds>
    <ac-map-layer-provider *ngFor="let layer of layers$" [provider]='MapLayerProviderOptions.WebMapService'
      [index]='layer.index' [options]="{
            url: layer.url,
            parameters: {
              format: layer.format,
              transparent: layer.transparent,
              version: layer.version
            },
            layers: layer.layers,
            enablePickFeatures: layer.pick_features
          }">
    </ac-map-layer-provider>
  </ac-map>
</div>