<nb-card>
    <nb-card-header>
        {{ name }}
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="online; else offline" class="sign">
            <table>
                <tr style="height: 20px"></tr>
                <!-- If ALL_CLEAR is ON -->
                <tr style="height: 55px" *ngIf="all_clear; else allClearOff">
                    <td>
                        <div class="all_clear_on_left"></div>
                    </td>
                    <td></td>
                    <td>
                        <div class="all_clear_on_right"></div>
                    </td>
                </tr>
                <!-- If ALL_CLEAR is OFF -->
                <ng-template #allClearOff>
                    <tr style="height: 55px">
                        <td>
                            <div class="all_clear_off_left"></div>
                        </td>
                        <td></td>
                        <td>
                            <div class="all_clear_off_right"></div>
                        </td>
                    </tr>
                </ng-template>
                <!-- If EMERGENCY is ON -->
                <tr style="height: 50px" *ngIf="emergency; else emergencyOff">
                    <td>
                        <div class="emergency_on_left"></div>
                    </td>
                    <td></td>
                    <td>
                        <div class="emergency_on_right"></div>
                    </td>
                </tr>
                <!-- If EMERGENCY is OFF -->
                <ng-template #emergencyOff>
                    <tr style="height: 50px">
                        <td>
                            <div class="emergency_off_left"></div>
                        </td>
                        <td></td>
                        <td>
                            <div class="emergency_off_right"></div>
                        </td>
                    </tr>
                </ng-template>
                <!-- If LIGHTNING is ON -->
                <tr style="height: 40px;" *ngIf="lightning; else lightningOff">
                    <td>
                        <div class="lightning_on_left"></div>
                    </td>
                    <td></td>
                    <td>
                        <div class="lightning_on_right"></div>
                    </td>
                </tr>

                <!-- If LIGHTNING is OFF -->
                <ng-template #lightningOff>
                    <tr style="height: 40px">
                        <td>
                            <div class="lightning_off_left"></div>
                        </td>
                        <td></td>
                        <td>
                            <div class="lightning_off_right"></div>
                        </td>
                    </tr>
                </ng-template>
                <tr style="height: 69px;">
                    <!-- If A is ON -->
                    <td style="height: 69px" *ngIf="a; else AOff">
                        <div class="A_on"></div>
                    </td>

                    <!-- If A is OFF -->
                    <ng-template #AOff>
                        <td style="height: 69px">
                            <div class="A_off"></div>
                        </td>
                    </ng-template>

                    <!-- If B is ON -->
                    <td style="height: 69px" *ngIf="b; else BOff">
                        <div class="B_on"></div>
                    </td>

                    <!-- If B is OFF -->
                    <ng-template #BOff>
                        <td style="height: 69px">
                            <div class="B_off"></div>
                        </td>
                    </ng-template>

                    <!-- If C is ON -->
                    <td style="height: 69px" *ngIf="c; else COff">
                        <div class="C_on"></div>
                    </td>

                    <!-- If C is OFF -->
                    <ng-template #COff>
                        <td style="height: 69px">
                            <div class="C_off"></div>
                        </td>
                    </ng-template>

                </tr>
            </table>
        </div>
        <ng-template #offline>
            <div class="offline_container">
                <img class="offline" src="../../../assets/images/thor.gif" />
            </div>
        </ng-template>
    </nb-card-body>
</nb-card>