<div class="home">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="center"
    *ngIf="loaded"
  >
    <div flex-gt-lg="15">
      <div
        class="cards"
        (click)="toggle('alerts', overview.alerts.running)"
        [ngClass]="{
          online: overview.alerts.running,
          offline: !overview.alerts.running
        }"
      >
        <h1>Alerts</h1>
        <h1>{{ overview.alerts.percentage }}%</h1>
      </div>
    </div>
    <div flex-gt-lg="15">
      <div
        class="cards"
        (click)="toggle('gps', overview.corrections.running)"
        [ngClass]="{
          online: overview.corrections.running,
          offline: !overview.corrections.running
        }"
      >
        <h1>GPS</h1>
        <h1>{{ overview.corrections.percentage }}%</h1>
      </div>
    </div>
    <div flex-gt-lg="15">
      <div
        class="cards"
        (click)="toggle('fleet', overview.fleet.running)"
        [ngClass]="{
          online: overview.fleet.running,
          offline: !overview.fleet.running
        }"
      >
        <h1>Fleet</h1>
        <h1>{{ overview.fleet.percentage }}%</h1>
      </div>
    </div>
    <div flex-gt-lg="15">
      <div
        class="cards"
        (click)="toggle('services', overview.services.running)"
        [ngClass]="{
          online: overview.services.running,
          offline: !overview.services.running
        }"
      >
        <h1>Services</h1>
        <h1>{{ overview.services.percentage }}%</h1>
      </div>
    </div>
    <div flex-gt-lg="15">
      <div
        class="cards"
        (click)="toggle('trailers', overview.trailers.running)"
        [ngClass]="{
          online: overview.trailers.running,
          offline: !overview.trailers.running
        }"
      >
        <h1>Trailers</h1>
        <h1 *ngIf="overview.trailers.running; else offline">{{ overview.trailers.percentage }}%</h1>
        <ng-template #offline>
          <h1>Offline</h1>
        </ng-template>
      </div>
    </div>
  </div>
</div>
