<div class="home">
  <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutAlign.xs="space-around center">
    <div flex-gt-lg="15">
      <mat-card class="card" (click)="toggle('alerts')">
        <mat-card-header>
          <mat-card-title>
            <h3>Alerts</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img src="/assets/img/sign.PNG">
        </mat-card-content>
      </mat-card>
    </div>
    <div flex-gt-lg="15">
      <mat-card class="card" (click)="toggle('fleet')">
        <mat-card-header>
          <mat-card-title>
            <h3>Fleet</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img class="truckIMG" src="/assets/img/truck.jpg">
        </mat-card-content>
      </mat-card>
    </div>
    <div flex-gt-lg="15">
      <mat-card class="card" (click)="toggle('trailers')">
        <mat-card-header>
          <mat-card-title>
            <h3>Trailers</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img class="truckIMG" src="/assets/img/truck.jpg">
        </mat-card-content>
      </mat-card>
    </div>
  </div>