<div class="signs">
  <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutAlign.xs="space-around center">
    <div flex-gt-lg="15" *ngFor="let sign of signs$">
      <mat-card class="card" routerLink="{{sign.IP}}">
        <mat-card-header>
          <mat-card-title>
            <h3>{{ sign.LOCATION }}</h3>
          </mat-card-title>
          <mat-card-subtitle *ngIf="sign.REST">{{ sign.IP }} - {{sign.LATENCY}}ms - WEB</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!sign.REST">{{ sign.IP }} - {{sign.LATENCY}}ms</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- Offline image if offline -->
          <img class="offline" src="../../assets/img/offline.png" *ngIf="!sign.ONLINE" />

          <!-- If a Sign -->
          <div class="sign" *ngIf="sign.SIGN">

            <table style="width: 227px">

              <tr style="height: 37px">
              </tr>

              <!-- If ALL_CLEAR is ON -->
              <tr style="height: 62px" *ngIf="sign.ALL_CLEAR; else allClearOff">
                <td>
                  <div class="all_clear_on_left"></div>
                </td>
                <td></td>
                <td>
                  <div class="all_clear_on_right"></div>
                </td>
              </tr>

              <!-- If ALL_CLEAR is OFF -->
              <ng-template #allClearOff>
                <tr style="height: 62px">
                  <td>
                    <div class="all_clear_off_left"></div>
                  </td>
                  <td></td>
                  <td>
                    <div class="all_clear_off_right"></div>
                  </td>
                </tr>
              </ng-template>

              <tr style="height: 12px">
              </tr>

              <!-- If EMERGENCY is ON -->
              <tr style="height: 67px" *ngIf="sign.EMERGENCY; else emergencyOff">
                <td>
                  <div class="emergency_on_left"></div>
                </td>
                <td></td>
                <td>
                  <div class="emergency_on_right"></div>
                </td>
              </tr>

              <!-- If EMERGENCY is OFF -->
              <ng-template #emergencyOff>
                <tr style="height: 67px">
                  <td>
                    <div class="emergency_off_left"></div>
                  </td>
                  <td></td>
                  <td>
                    <div class="emergency_off_right"></div>
                  </td>
                </tr>
              </ng-template>

              <!-- If LIGHTNING is ON -->
              <tr style="height: 67px;" *ngIf="sign.LIGHTNING; else lightningOff">
                <td>
                  <div class="lightning_on_left"></div>
                </td>
                <td></td>
                <td>
                  <div class="lightning_on_right"></div>
                </td>
              </tr>

              <!-- If LIGHTNING is OFF -->
              <ng-template #lightningOff>
                <tr style="height: 67px">
                  <td>
                    <div class="lightning_off_left"></div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lightning_off_right"></div>
                  </td>
                </tr>
              </ng-template>

              <tr style="height: 80px;">
                <!-- If A is ON -->
                <td style="height: 100px" *ngIf="sign.A; else AOff">
                  <div class="A_on"></div>
                </td>

                <!-- If A is OFF -->
                <ng-template #AOff>
                  <td style="height: 100px">
                    <div class="A_off"></div>
                  </td>
                </ng-template>

                <!-- If B is ON -->
                <td style="height: 100px" *ngIf="sign.B; else BOff">
                  <div class="B_on"></div>
                </td>

                <!-- If B is OFF -->
                <ng-template #BOff>
                  <td style="height: 100px">
                    <div class="B_off"></div>
                  </td>
                </ng-template>

                <!-- If C is ON -->
                <td style="height: 100px" *ngIf="sign.C; else COff">
                  <div class="C_on"></div>
                </td>

                <!-- If C is OFF -->
                <ng-template #COff>
                  <td style="height: 100px">
                    <div class="C_off"></div>
                  </td>
                </ng-template>

              </tr>

            </table>
          </div>
          <!-- If a C Alert Beacon-->
          <table class="calert" *ngIf="sign.CALERT">
            <tr>
              <div class="calert_on" *ngIf="sign.C; else calertOff"></div>
              <ng-template #calertOff>
                <div class="calert_off"></div>
              </ng-template>
            </tr>
          </table>

          <!-- If a Trailer-->
          <table class="trailer" *ngIf="sign.TRAILER">
            <tr style="height: 80px;">

              <!-- If B is ON -->
              <td *ngIf="sign.B; else TrailerBOff">
                <div class="trailer_B_on"></div>
              </td>

              <!-- If B is OFF -->
              <ng-template #TrailerBOff>
                <td>
                  <div class="trailer_B_off"></div>
                </td>
              </ng-template>

              <!-- If C is ON -->
              <td *ngIf="sign.C; else TrailerCOff">
                <div class="trailer_C_on"></div>
              </td>

              <!-- If C is OFF -->
              <ng-template #TrailerCOff>
                <td>
                  <div class="trailer_C_off"></div>
                </td>
              </ng-template>

            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>