.signs:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("../../assets/img/lightning.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.signs {
    margin: 0;
    padding: 10px;
    min-height: calc(100vh-64px);
    box-sizing: border-box;
}
  
.container {
    margin: -6px;
 }

 .container > * {
   margin: 6px;
 }

 .card {
   overflow: hidden;
   width: 260px;
   height: 477px;
   padding: 0px;
   cursor: pointer;
 }

 .header-image {
  background-size: cover;
}

mat-card-title h3 {
    width: 225px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

mat-card-subtitle {
    width: 225px;
    text-align: center;
    margin-bottom: 10px;
}

.button_card {
    overflow-x: hidden;
    width: 260px;
    height: 477px;
    padding: 0px;
  }

.link_home {
    top: 120px;
    left: 30px;
    width: 200px;
    margin-bottom: 20px;
}

.link_login {
    left: 30px;
    width: 200px;
    top: 120px;
}

.add_sign {
    left: 30px;
    width: 200px;
    top: 142px;
}

.sign {
    background-image: url("../../assets/img/sign.PNG");
    background-repeat: no-repeat;
    background-size: 230px auto;
    width: 230px;
    height: 390px;
    margin: auto;
}

td {
    text-align: center;
}


.offline {
    position: absolute;
    top: 75px;
    height: 390px;
    margin-left: -270px;
}

.all_clear_on_left {
    border-radius: 5px;
    background: rgb(210, 255, 142);
    width: 37px;
    height: 25px;
    margin-left: 13px;
    box-shadow: 0px 0px 59px 34px rgba(0,255,9,0.8);
    animation: blinker 1s linear infinite;
}

.all_clear_on_right {
    border-radius: 5px;
    background: rgb(210, 255, 142);
    width: 37px;
    height: 25px;
    margin-left: 35px;
    box-shadow: 0px 0px 59px 34px rgba(0,255,9,0.8);
    animation: blinker 1s linear infinite;
}

.all_clear_off_left {
    border-radius: 5px;
    background: rgb(210, 255, 142);
    width: 37px;
    height: 25px;
    margin-left: 13px;
}

.all_clear_off_right {
    border-radius: 5px;
    background: rgb(210, 255, 142);
    width: 37px;
    height: 25px;
    margin-left: 35px;
}

.emergency_on_left {
    border-radius: 5px;
    background: red;
    width: 37px;
    height: 25px;
    margin-left: 13px;
    box-shadow: 0px 0px 59px 34px rgba(255, 106, 106, 0.8);
    animation: blinker 1s linear infinite;
}

.emergency_on_right {
    border-radius: 5px;
    background: red;
    width: 37px;
    height: 25px;
    margin-left: 36px;
    box-shadow: 0px 0px 59px 34px rgba(255, 106, 106, 0.8);
    animation: blinker 1s linear infinite;
}

.emergency_off_left {
    border-radius: 5px;
    background: red;
    width: 37px;
    height: 25px;
    margin-left: 13px;
}

.emergency_off_right {
    border-radius: 5px;
    background: red;
    width: 37px;
    height: 25px;
    margin-left: 36px;
}

.lightning_on_left {
    border-radius: 5px;
    background: white;
    width: 37px;
    height: 25px;
    margin-left: 13px;
    box-shadow: 0px 0px 59px 34px rgba(197, 197, 197, 0.8);
    animation: blinker 1s linear infinite;
}

.lightning_on_right {
    border-radius: 5px;
    background: white;
    width: 37px;
    height: 25px;
    margin-left: 36px;
    box-shadow: 0px 0px 59px 34px rgba(197, 197, 197, 0.8);
    animation: blinker 1s linear infinite;
}

.lightning_off_left {
    border-radius: 5px;
    background: white;
    width: 37px;
    height: 25px;
    margin-left: 13px;
}

.lightning_off_right {
    border-radius: 5px;
    background: white;
    width: 37px;
    height: 25px;
    margin-left: 36px;
}

.A_on {
    border-radius: 5px;
    background: lightblue;
    width: 37px;
    height: 25px;
    margin-left: 28px;
    animation: blinker 1s linear infinite;
    box-shadow: 0px 0px 59px 34px rgba(145, 224, 255, 0.8);
}

.A_off {
    border-radius: 5px;
    background: lightblue;
    width: 37px;
    height: 25px;
    margin-left: 28px;
}

.B_on {
    border-radius: 5px;
    background: yellow;
    width: 37px;
    height: 25px;
    margin-left: 17px;
    box-shadow: 0px 0px 59px 34px rgba(255, 241, 117, 0.8);
    animation: blinker 1s linear infinite;
}

.B_off {
    border-radius: 5px;
    background: yellow;
    width: 37px;
    height: 25px;
    margin-left: 17px;
}

.C_on {
    border-radius: 5px;
    background: red;
    width: 37px;
    height: 25px;
    margin-left: 21px;
    box-shadow: 0px 0px 59px 34px rgba(255, 106, 106, 0.8);
    animation: blinker 1s linear infinite;
}

.C_off {
    border-radius: 5px;
    background: red;
    width: 37px;
    height: 25px;
    margin-left: 21px;
}

.calert {
    background-image: url("../../assets/img/c.PNG");
    background-repeat: no-repeat;
    background-size: 180px auto;
    background-position: center;
    width: 230px;
    height: 390px;
    margin: auto;
}

.calert_on {
    border-radius: 5px;
    background: red;
    width: 100px;
    height: 50px;
    margin-left: 64px;
    margin-top: 210px;
    box-shadow: 0px 0px 59px 34px rgba(255, 106, 106, 0.8);
    animation: blinker 1s linear infinite;
}

.calert_off {
    border-radius: 5px;
    background: red;
    width: 100px;
    height: 50px;
    margin-left: 64px;
    margin-top: 210px;
}

.trailer {
    background-image: url("../../assets/img/bc.PNG");
    background-repeat: no-repeat;
    background-size: 220px auto;
    background-position: center;
    width: 230px;
    height: 100px;
    margin: auto;
}

.trailer_B_on {
    border-radius: 5px;
    background: yellow;
    width: 60px;
    height: 30px;
    margin-left: 27px;
    margin-top: 47px;
    box-shadow: 0px 0px 59px 34px rgba(255, 241, 117, 0.8);
    animation: blinker 1s linear infinite;
}

.trailer_B_off {
    border-radius: 5px;
    background: yellow;
    width: 60px;
    height: 30px;
    margin-left: 27px;
    margin-top: 47px;
}

.trailer_C_on {
    border-radius: 5px;
    background: red;
    width: 60px;
    height: 30px;
    margin-left: 27px;
    margin-top: 47px;
    box-shadow: 0px 0px 59px 34px rgba(255, 106, 106, 0.8);
    animation: blinker 1s linear infinite;
}

.trailer_C_off {
    border-radius: 5px;
    background: red;
    width: 60px;
    height: 30px;
    margin-left: 27px;
    margin-top: 47px;
}


@keyframes blinker {  
    50% { opacity: 0; }
  }