@import '../../../@theme/styles/themes.scss';

@include nb-install-component() {
   nb-card-body {
      display: block;
      height: nb-theme(card-height-medium);
      width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

nb-radio-group {
  display: table;
}

nb-radio {
  display: table-cell;
}

