
<nb-card>
    <nb-card-header>
        {{name}} - {{range}}
        <nb-radio-group [(value)]="unit" (click)="refreshData()">
            <nb-radio [value]="'kmh'" (click)="refreshData()">
                km/h
            </nb-radio>
            <nb-radio [value]="'ms'" (click)="refreshData()">
                m/s
            </nb-radio>
            <nb-radio [value]="'knots'" (click)="refreshData()">
                knots
             </nb-radio>
        </nb-radio-group>
    </nb-card-header>
    <nb-card-body>
        <chart 
            type="line"
            [data]="data"
            [options]="options"
        ></chart>
    </nb-card-body>
</nb-card>
