<div class="signs">
  <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
    <div flex-gt-lg="15">
      <div>
        <mat-card class="card" *ngIf="dataLoaded">
          <mat-card-header>
            <mat-card-title>
              <h3>{{ alert$.location }}</h3>
            </mat-card-title>
            <mat-card-subtitle *ngIf="alert$.rest && !alert$.trailer && alert$.online">{{ alert$.ip }} - {{alert$.latency}}ms - WEB</mat-card-subtitle>
            <mat-card-subtitle *ngIf="!alert$.rest && !alert$.trailer && alert$.online">{{ alert$.ip }} - {{alert$.latency}}ms</mat-card-subtitle>
            <mat-card-subtitle *ngIf="!alert$.trailer && !alert$.online">{{ alert$.ip }} - Offline</mat-card-subtitle>
            <mat-card-subtitle *ngIf="alert$.trailer && !alert$.online">Offline</mat-card-subtitle>
            <mat-card-subtitle *ngIf="alert$.trailer && alert$.online">Online</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="controls" *ngIf="alert$.online && alert$.sign">
              <div>
                All Clear
                <br>
                <mat-slide-toggle [checked]="outputStates.all_clear" (change)="onChange($event, 'all_clear')">
                </mat-slide-toggle>

                <br>
                Emergency
                <br>
                <mat-slide-toggle [checked]="outputStates.emergency" (change)="onChange($event, 'emergency')">
                </mat-slide-toggle>

                <br>
                Lightning
                <br>
                <mat-slide-toggle [checked]="outputStates.lightning" (change)="onChange($event, 'lightning')">
                </mat-slide-toggle>
                <br>

                <br>
                A
                <mat-slide-toggle [checked]="outputStates.a" (change)="onChange($event, 'a')">
                </mat-slide-toggle>
                &nbsp;&nbsp;

                B
                <mat-slide-toggle [checked]="outputStates.b" (change)="onChange($event, 'b')">
                </mat-slide-toggle>
                &nbsp;&nbsp;

                C
                <mat-slide-toggle [checked]="outputStates.c" (change)="onChange($event, 'c')">
                </mat-slide-toggle>
                <br>
                <br>
              </div>
            </div>

            <!-- If a Sign -->
            <div class="sign" *ngIf="alert$.sign">

              <table style="width: 227px">

                <tr style="height: 37px">
                </tr>

                <!-- If ALL_CLEAR is ON -->
                <tr style="height: 62px" *ngIf="alert$.all_clear; else allClearOff">
                  <td>
                    <div class="all_clear_on_left"></div>
                  </td>
                  <td></td>
                  <td>
                    <div class="all_clear_on_right"></div>
                  </td>
                </tr>

                <!-- If ALL_CLEAR is OFF -->
                <ng-template #allClearOff>
                  <tr style="height: 62px">
                    <td>
                      <div class="all_clear_off_left"></div>
                    </td>
                    <td></td>
                    <td>
                      <div class="all_clear_off_right"></div>
                    </td>
                  </tr>
                </ng-template>

                <tr style="height: 12px">
                </tr>

                <!-- If EMERGENCY is ON -->
                <tr style="height: 67px" *ngIf="alert$.emergency; else emergencyOff">
                  <td>
                    <div class="emergency_on_left"></div>
                  </td>
                  <td></td>
                  <td>
                    <div class="emergency_on_right"></div>
                  </td>
                </tr>

                <!-- If EMERGENCY is OFF -->
                <ng-template #emergencyOff>
                  <tr style="height: 67px">
                    <td>
                      <div class="emergency_off_left"></div>
                    </td>
                    <td></td>
                    <td>
                      <div class="emergency_off_right"></div>
                    </td>
                  </tr>
                </ng-template>

                <!-- If LIGHTNING is ON -->
                <tr style="height: 67px;" *ngIf="alert$.lightning; else lightningOff">
                  <td>
                    <div class="lightning_on_left"></div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lightning_on_right"></div>
                  </td>
                </tr>

                <!-- If LIGHTNING is OFF -->
                <ng-template #lightningOff>
                  <tr style="height: 67px">
                    <td>
                      <div class="lightning_off_left"></div>
                    </td>
                    <td></td>
                    <td>
                      <div class="lightning_off_right"></div>
                    </td>
                  </tr>
                </ng-template>

                <tr style="height: 80px;">
                  <!-- If A is ON -->
                  <td style="height: 100px" *ngIf="alert$.a; else AOff">
                    <div class="A_on"></div>
                  </td>

                  <!-- If A is OFF -->
                  <ng-template #AOff>
                    <td style="height: 100px">
                      <div class="A_off"></div>
                    </td>
                  </ng-template>

                  <!-- If B is ON -->
                  <td style="height: 100px" *ngIf="alert$.b; else BOff">
                    <div class="B_on"></div>
                  </td>

                  <!-- If B is OFF -->
                  <ng-template #BOff>
                    <td style="height: 100px">
                      <div class="B_off"></div>
                    </td>
                  </ng-template>

                  <!-- If C is ON -->
                  <td style="height: 100px" *ngIf="alert$.c; else COff">
                    <div class="C_on"></div>
                  </td>

                  <!-- If C is OFF -->
                  <ng-template #COff>
                    <td style="height: 100px">
                      <div class="C_off"></div>
                    </td>
                  </ng-template>

                </tr>

              </table>
            </div>
            <!-- If a C Alert Beacon-->
            <div *ngIf="alert$.calert">
              <div class="controls">
                <br>
                C
                <br>
                <mat-slide-toggle [checked]="outputStates.c" (change)="onChange($event, 'c')">
                </mat-slide-toggle>
              </div>
              <table class="calert">
                <tr>
                  <div class="calert_on" *ngIf="alert$.c; else calertOff"></div>
                  <ng-template #calertOff>
                    <div class="calert_off"></div>
                  </ng-template>
                </tr>
              </table>
            </div>

            <!-- If a Trailer-->
            <div *ngIf="alert$.trailer">
              <div *ngFor="let trailer of alert$.areas">
                <mat-divider></mat-divider>
                <br>
                <b style="margin-left: 30px;"> {{trailer.area}} - {{trailer.ip}} - {{trailer.latency}}ms </b>

                <div class="controls">
                  <br>
                  B
                  <mat-slide-toggle [checked]="state(trailer.area, 'b')" (change)="onChangeTrailer($event, trailer.area, 'b')">
                  </mat-slide-toggle>
                  &nbsp;&nbsp;

                  C
                  <mat-slide-toggle [checked]="state(trailer.area, 'c')" (change)="onChangeTrailer($event, trailer.area, 'c')">
                  </mat-slide-toggle>
                </div>
                <br>
                <table class="trailer">
                  <tr style="height: 80px;">

                    <!-- If B is ON -->
                    <td *ngIf="trailer.b; else TrailerBOff">
                      <div class="trailer_B_on"></div>
                    </td>

                    <!-- If B is OFF -->
                    <ng-template #TrailerBOff>
                      <td>
                        <div class="trailer_B_off"></div>
                      </td>
                    </ng-template>

                    <!-- If C is ON -->
                    <td *ngIf="trailer.c ; else TrailerCOff">
                      <div class="trailer_C_on"></div>
                    </td>

                    <!-- If C is OFF -->
                    <ng-template #TrailerCOff>
                      <td>
                        <div class="trailer_C_off"></div>
                      </td>
                    </ng-template>
                  </tr>
                </table>
                <br>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>