<div class="row">
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Theme
      </nb-card-header>
      <nb-card-body>
        <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
          <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Layout Direction
      </nb-card-header>
      <nb-card-body>
        <ngx-layout-direction-switcher class="direction-switcher"></ngx-layout-direction-switcher>
      </nb-card-body>
    </nb-card>
  </div>
  <!--
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Sidebar
      </nb-card-header>
      <nb-card-body>
        <div class="settings-row">
          <button *ngFor="let sidebar of sidebars" nbButton [appearance]="sidebar.selected ? 'outline' : 'ghost'"
            [attr.aria-label]="sidebar.name" (click)="sidebarSelect(sidebar)" class="select-button">
            <i [attr.class]="sidebar.icon + ' setting-icon'"></i>
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Layouts
      </nb-card-header>
      <nb-card-body>
        <div class="settings-row">
          <button *ngFor="let layout of layouts" nbButton [appearance]="layout.selected ? 'outline' : 'ghost'"
            [attr.aria-label]="layout.name" (click)="layoutSelect(layout)" class="select-button">
            <i [attr.class]="layout.icon + ' setting-icon'"></i>
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
-->