<ng2-smart-table
  [settings]="subscriberSettings"
  [source]="subscriberSource"
  (userRowSelect)="onSelect(dialog, $event)"
>
</ng2-smart-table>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card status="primary">
      <nb-card-header>Details for {{data.description}}</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item>
            <nb-user size="medium"
            name="Description"
            title={{data.description}}
            showInitials=false
            picture='../../../assets/icons/person-outline.svg'
            >
            </nb-user>
          </nb-list-item>
          <nb-list-item>
            <nb-user size="medium"
            name="ISSI"
            title={{data.ssi}}
            showInitials=false
            picture='../../../assets/icons/hash-outline.svg'
            >
            </nb-user>
          </nb-list-item>
          <nb-list-item>
            <nb-user size="medium"
            name="Subscriber Type"
            title={{data.type}}
            showInitials=false
            picture='../../../assets/icons/settings-2-outline.svg'
            ></nb-user>
          </nb-list-item>
          <nb-list-item>
            <nb-user size="medium"
            name="Talkgroup"
            title={{data.talkgroup}}
            showInitials=false
            picture='../../../assets/icons/people-outline.svg'
            ></nb-user>
          </nb-list-item>
          <nb-list-item>
            <nb-user size="medium"
            name="Last Seen"
            title={{timestamp}}
            showInitials=false
            picture='../../../assets/icons/clock-outline.svg'
            ></nb-user>
          </nb-list-item>
          <nb-list-item>
            <nb-user size="medium"
            name="Node"
            title={{node}}
            showInitials=false
            picture='../../../assets/icons/radio-outline.svg'
            ></nb-user>
          </nb-list-item>
          <nb-list-item>
            <nb-user size="medium"
            name="RSSI"
            title= {{rssi}}
            showInitials=false
            picture='../../../assets/icons/wifi-outline.svg'
            ></nb-user>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer>

      </nb-card-footer>
  </nb-card>
</ng-template>