@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }

}

.wrapper {
  text-align: center;
}

ng2-smart-table {
    cursor: pointer;
}

:host /deep/ .ng-valid {
  color: black;
}

