<ng2-smart-table [settings]="subscriberSettings" [source]="subscriberSource" (userRowSelect)="onSelect(dialog, $event)">
</ng2-smart-table>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card status="primary">
    <nb-card-header>Details for {{data.description}}</nb-card-header>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="General" tabIcon="info-outline" responsive>
          <nb-list>
            <nb-list-item>
              <nb-user size="medium" name="Description" title={{data.description}} showInitials=false
                picture='../../../assets/icons/person-outline.svg'>
              </nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user size="medium" name="ISSI" title={{data.ssi}} showInitials=false
                picture='../../../assets/icons/hash-outline.svg'>
              </nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user size="medium" name="Subscriber Type" title={{data.type}} showInitials=false
                picture='../../../assets/icons/settings-2-outline.svg'></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user size="medium" name="Talkgroup" title={{data.talkgroup}} showInitials=false
                picture='../../../assets/icons/people-outline.svg'></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user size="medium" name="Last Seen" title={{timestamp}} showInitials=false
                picture='../../../assets/icons/clock-outline.svg'></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user size="medium" name="Node" title={{node}} showInitials=false
                picture='../../../assets/icons/radio-outline.svg'></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user size="medium" name="RSSI" title="{{rssi}} {{rssi_units}}"showInitials=false
                picture='../../../assets/icons/wifi-outline.svg'></nb-user>
            </nb-list-item>
          </nb-list>
        </nb-tab>
        <nb-tab tabTitle="Location" tabIcon="pin-outline" responsive>
          <nb-list>
            <nb-list-item>
              GPS Time: {{gps_time}}<br>
              Latitude: {{latitude}} {{lat_meridian}}<br>
              Longitude: {{longitude}} {{lon_meridian}}<br>
              Altitude: {{altitude}} {{units}}<br>
              Accuracy: {{accuracy}} {{units}}<br>
              Speed: {{speed}} {{speed_units}} <br>
              Angle: {{angle}} {{angle_units}} <br>
              Direction: {{direction}} <br>
              URL: <a target="_blank" href="{{maps_url}}">{{link_text}}</a>
            </nb-list-item>
          </nb-list>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</ng-template>