<div class="gps">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="center">
    <div flex-gt-lg="15">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title> Corrections </mat-card-title>
          <mat-card-subtitle> Mine Systems </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <button mat-raised-button color="primary" routerLink="/gps/list">
            List
          </button>
          <mat-divider></mat-divider>
          <div class="content" *ngFor="let i of gps">
            Uptime: &nbsp; {{ i.uptime }} <br />
            Delay: &nbsp; {{ i.delay }} &nbsp; ms <br />
            IPs: &nbsp; {{ i.ips }} <br />
            <br />
            <b>Binding</b><br />
            Source: &nbsp; {{ i.binding.source_ip }}:{{ i.binding.source_port }}
            <br />
            Binding: &nbsp; {{ i.binding.binding_ip }}:{{ i.binding.binding_port }}
            <br />
            <br />
            <b>Buffer</b><br />
            Rx Buffer: &nbsp; {{ i.buffer.rx }} <br />
            Tx Buffer: &nbsp; {{ i.buffer.tx }} <br />
            <br />
            <b>Corrections In</b><br />
            Ok: &nbsp; {{ i.in.ok }} <br />
            Fail: &nbsp; {{ i.in.fail }} <br />
            Percentage: &nbsp; {{ i.in.percent }} <br />
            <br />
            <b>Corrections Out</b><br />
            Ok: &nbsp; {{ i.out.ok }} <br />
            Fail: &nbsp; {{ i.out.fail }} <br />
            Percentage: &nbsp; {{ i.out.percent }} <br />
            <br />
            <b>Total Sent</b><br />
            Ok: &nbsp; {{ i.send.ok }} <br />
            Fail: &nbsp; {{ i.send.fail }} <br />
            Percentage: &nbsp; {{ i.send.percent }} <br />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
