<div>
  <nb-card class="col-md-6 col-lg-4 col-xxxl-4">
    <nb-card-header>
      Alerts - Weather Zone
    </nb-card-header>
    <nb-card-body>
      <div *ngFor="let alert of alerts$">
        <ngx-status-card [title]="alert.zone" [type]="alert.status" [on]="alert.online"
        [icon]="alert.icon" [state]="alert.state">
      </ngx-status-card>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-9 col-xxl-8">
    <nb-card>
      <nb-card-body>
        <ngx-alerts-d3-advanced-pie></ngx-alerts-d3-advanced-pie>
      </nb-card-body>
    </nb-card>
  </div>
</div>