<div class="row">
  <nb-card class="col-xxl-3">
    <nb-card-header>
      Alerts - Weather Zone
    </nb-card-header>
    <nb-card-body *ngIf="alertsLoaded">
      <div *ngFor="let alert of alerts$">
        <ngx-status-card [title]="alert.zone" [type]="alert.status" [on]="alert.online" [icon]="alert.icon"
          [state]="alert.state">
        </ngx-status-card>
      </div>
    </nb-card-body>
  </nb-card>

  <div class="col-xxl-9">
    <nb-card>
      <nb-card-header>
        Tetra
      </nb-card-header>
      <nb-card-body style="overflow: hidden">
        <div class="row">
          <div class="col-xxl-3">
            <ngx-tetra-radio-count-card *ngIf="radiosLoaded" [title]="'Radios'" [type]="radios.status"
              [on]="radios.online" [count]="radios.count" [description]="'Online'">
            </ngx-tetra-radio-count-card>
          </div>
          <div class="col-xxl-3">
            <ngx-tetra-radio-count-card *ngIf="groupCallsLoaded" [title]="'Group Calls'" [type]="'success'"
              [on]="'true'" [count]="groupCalls.calls" [description]="'Per Minute'">
            </ngx-tetra-radio-count-card>
          </div>
          <div class="col-xxl-3">
            <ngx-tetra-radio-count-card *ngIf="indCallsLoaded" [title]="'Direct Calls'" [type]="'success'" [on]="'true'"
              [count]="individualCalls.calls" [description]="'Per Minute'">
            </ngx-tetra-radio-count-card>
          </div>
          <div class="col-xxl-3">
            <ngx-tetra-radio-count-card *ngIf="sdsCallsLoaded" [title]="'SDS Calls'" [type]="'success'" [on]="'true'"
              [count]="sdsCalls.calls" [description]="'Per Minute'">
            </ngx-tetra-radio-count-card>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-4">
            <ngx-tetra-bar-chart [title]="'Tetra Node Load'"></ngx-tetra-bar-chart>
          </div>
          <div class="col-xxl-4">
            <ngx-tetra-radar-chart [label_title]="'Tetra Time Slots'"></ngx-tetra-radar-chart>
          </div>
          <div class="col-xxl-4">
            <ngx-tetra-subs-chart [title]="'Tetra Subscribers'"></ngx-tetra-subs-chart>
          </div>
        </div>

        <div class="row">
          <div style="width: 100%;">
            <div class="col-xxl-12" style="height: 400px">
              <!--
              <ngx-tetra-calls-line-chart [title]="'Calls - 24 Hours'"></ngx-tetra-calls-line-chart>
              -->
              <nb-card>
                <nb-card-header>
                  FM Radio
                </nb-card-header>
                <nb-card-body style="overflow: hidden">
                  <div class="row">
                    <div class="col-xxl-3" *ngFor="let live of fmLive">
                      <div style="width: 90%;">
                        <ngx-fm-live [station]="live.station" [state]="live.state" [artist]="live.artist"
                          [song]="live.song">
                        </ngx-fm-live>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <!--
  <div class="col-xxl-2">
    <nb-card>
      <nb-card-header>
        FM Radio
      </nb-card-header>
      <nb-card-body style="overflow: hidden">
        <ngx-fm-live *ngFor="let live of fmLive" [station]="live.station" [state]="live.state" [artist]="live.artist"
          [song]="live.song">
        </ngx-fm-live>
      </nb-card-body>
    </nb-card>
  </div>
  -->

</div>