.fleet:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("../../assets/img/trucks.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.fleet {
    margin: 0;
    padding: 10px;
    min-height: calc(100vh - 64px);
    box-sizing: border-box;
}
  
.container {
    margin: -6px;
 }

 .container > * {
   margin: 6px;
 }

.fleet-card {
    overflow-x: hidden;
    width: 300px;
    height: 590px;
    padding: 0px;
    border-radius: 25px;
 }

 .device {
    overflow-x: hidden;
    width: 250px;
    height: 115px;
    padding: 0px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
 }

 .device h4 {
     margin: 10px;
 }

 .truck-on {
    background-color: mediumseagreen;
 }

 .truck-off {
    background-color: slategray;
 }

 .truck-fail {
    background-color: salmon;
 }

 .device-on {
    background-color: rgb(150, 255, 150);
    cursor: pointer;
 }

 .device-off {
    background-color: rgb(150, 150, 150);
 }

 .device-fail {
    background-color: rgb(255, 150, 150);
 }

 mat-card-content {
     text-align: center;
     font-size: 20px;
 }

 mat-card-title {
   width: 200px;
   text-align: left;
 }
 
mat-card-subtitle {
   width: 200px;
   text-align: left;
   margin-left: 15px;
}

 .header-image {
  background-size: cover;
}

.link_back {
   margin-right: 30px;
   width: 100px;
}

.link_home {
   width: 100px;
}