<nb-card  *ngIf="ups$ | async as upss">
    <nb-list>
        <nb-list-item class="item">
            <span>Name</span>
            <span>Status</span>
            <span>Battery </span>
            <span>Load </span>
            <span>Power Out</span>
            <span>Volts In</span>
            <span>Temperature</span>
        </nb-list-item>
        <nb-list-item class="item" *ngFor="let ups of upss">
            <span>
                {{ ups.location }}
            </span>
            <span>
                <div *ngFor="let stat of ups.status">
                    <nb-icon [icon]="stat.system_icon" class="icon status-{{stat.system_status}}"></nb-icon>
                    &nbsp;{{ stat.status }}
                </div>
            </span>
            <span>
                <nb-icon [icon]="ups.batt_icon" class="icon status-{{ups.batt_status}}"> </nb-icon>
                &nbsp;{{ ups.batt_remaining }}%
            </span>
            <span>
                <nb-icon [icon]="ups.load_icon" class="icon status-{{ups.load_status}}"> </nb-icon>
                &nbsp;{{ ups.load_percent }}%
            </span>
            <span>
                <nb-icon [icon]="'flash-outline'" class="icon status-{{ups.load_status}}"> </nb-icon>
                &nbsp;{{ ups.kw_out }}kw
            </span>
            <span>
                <div *ngFor="let phase of ups.phases">
                    <nb-icon [icon]="phase.phase_icon" class="icon status-{{phase.phase_status}}"></nb-icon>
                    {{ phase.phase_voltage}}v
                </div>
            </span>
            <span>
                <nb-icon [icon]="ups.temp_icon" class="icon status-{{ups.temp_status}}"></nb-icon>
                {{ ups.temp}}°C
            </span>
        </nb-list-item>
    </nb-list>
</nb-card>
