<div class="trailers">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="center">
    <div flex-gt-lg="15" *ngFor="let trailer of trailers">
      <mat-card
        class="trailer"
        routerLink="{{ trailer.parent }}"
        [ngClass]="{
          'trailer-online': trailer.online,
          'trailer-offline': !trailer.online
        }"
      >
        <mat-card-header>
          <mat-card-title> {{ trailer.parent }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="online_count">
            <h3>{{ trailer.devices_online }} / {{ trailer.devices_count }}</h3>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
