.trailers:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("../../../assets/img/trailers.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.trailers {
  margin: 0;
  padding: 10px;
  min-height: calc(100vh-64px);
  box-sizing: border-box;
}

.trailer {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.trailer-online {
  color: rgb(235, 252, 235);
  background: linear-gradient(to right, #29fc9b 0%, #09e8dd 100%);
}

.trailer-offline {
  color: rgb(255, 231, 231);
  background: linear-gradient(to right, #FF6D88 0%, #FF8E8A 100%);
}

.trailer-node {
  background: linear-gradient(to right, #6787FE 0%, #25D0FD 100%);
}

.container {
  margin: -6px;
}

.container > * {
  margin: 6px;
}

mat-card-title {
  margin-left: -8px;
}

mat-card-subtitle {
  margin-left: -8px;
  margin-bottom: 0px;
}


.gateway {
  text-align: center;
}

.status {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
