<div class="trailers">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="center">
    <div flex-gt-lg="15" *ngFor="let trailer of trailers">
      <mat-card
        class="trailer"
        routerLink="{{ trailer.parent }}"
        [ngClass]="{
          'trailer-online': trailer.online,
          'trailer-offline': !trailer.online,
          'trailer-node': trailer.online && !trailer.gateway
        }"
      >
        <div class="status">
          <b style="font-size: 20px;">{{ trailer.parent }}</b><br />
          <span style="font-size: 15px;">{{ trailer.tropos_type }} </span><br />
          <span *ngIf="trailer.online">
            <b style="font-size: 30px; line-height: 40px;">{{ trailer.tropos2.latency }} </b>ms
          </span>
          <span *ngIf="!trailer.online">
            <b style="font-size: 20px; line-height: 40px;"> Offline </b>
          </span>
        </div>
      </mat-card>
    </div>
  </div>
</div>
