.calert {
    background-image: url("../../../assets/images/c.PNG");
    background-repeat: no-repeat;
    background-size: 100px auto;
    background-position: center;
    width: 150px;
    height: 245px;
    margin: auto;
}

.calert_on {
    border-radius: 5px;
    background: red;
    width: 50px;
    height: 25px;
    margin-left: 52px;
    margin-top: 130px;
    box-shadow: 0px 0px 59px 34px rgba(255, 106, 106, 0.8);
    animation: blinker 1s linear infinite;
}

.calert_off {
    border-radius: 5px;
    background: red;
    width: 50px;
    height: 25px;
    margin-left: 52px;
    margin-top: 130px;
}