<div class="row">
  <div class="col-xxl-4">
    <ngx-tetra-bar-chart [title]="'Load %'"></ngx-tetra-bar-chart>
  </div>
  <div class="col-xxl-4">
    <ngx-tetra-radar-chart [label_title]="'Time Slots'"></ngx-tetra-radar-chart>
  </div>
  <div class="col-xxl-4">
    <ngx-tetra-subs-chart [title]="'Tetra Subscribers'"></ngx-tetra-subs-chart>
  </div>
</div>

<div class="row" class="col-xxl-12">
  <div style="height: 400px;">
    <ngx-tetra-calls-line-chart [title]="'Calls - 24 Hours'"></ngx-tetra-calls-line-chart>
  </div>
</div>