<div class="options">
    <button nbButton [nbPopover]="optionsRef" nbPopoverPlacement="end" nbPopoverAdjustment="noop" [status]="'primary'">
        <nb-icon icon="layers-outline">
        </nb-icon>
    </button>
</div>


<ng-template #optionsRef>
    <nb-card>
        <nb-card-body>
            <div class="row">
                <nb-checkbox (checkedChange)="toggle('tetra', $event)" [checked]="tetra">Tetra Positions</nb-checkbox>
            </div>
            <div class="row">
                <nb-checkbox (checkedChange)="toggle('nams', $event)" [checked]="nams">Minestar NAMs</nb-checkbox>
            </div>
            <div class="row">
                <nb-checkbox (checkedChange)="toggle('lanes', $event)" [checked]="lanes">Minestar Lanes</nb-checkbox>
            </div>
            <div class="row">
                <nb-checkbox (checkedChange)="toggle('zones', $event)" [checked]="zones">Minestar Zones</nb-checkbox>
            </div>
            <div class="row">
                <nb-checkbox (checkedChange)="toggle('blocks', $event)" [checked]="blocks">Minestar Grade Blocks</nb-checkbox>
            </div>
        </nb-card-body>
    </nb-card>
</ng-template>